<div class="mt-4">
<div class="row">
    <div class="col-lg-3">

        <button>học ngayngay</button>
<ul>

    <li>{{Course.level}}</li>
</ul>

    </div>
<div class="col-lg-9">

    <h1>{{Course.name}}</h1>
<iframe width="560" height="315" src="https://www.youtube.com/embed/{{Course.videoId}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>{{Course.description}}</p>

</div>



</div>


</div>